‚≠ï Importamos Libreria Pandas y el Dataset en formato .csv
‚≠ï Se puestran las prmeras filas del Dataset

In [1]:
import pandas as pd

# Cargar el dataset desde un archivo CSV
df = pd.read_csv('datos_oil.csv')

# Mostrar las primeras filas del dataset para verificar que se ha cargado correctamente
print(df.head())

                     Spill / Vessel  \
0   2023 Princess Empress oil spill
1  2022 Keystone Pipeline oil spill
2   2022 Chesire oil truck rollover
3             2022 Callao oil spill
4        2021 New Orleans oil spill

                                       Location             Dates  Min Tonnes  \
0           Philippines, Pola, Oriental Mindoro  28 February 2023      881.00
1      United States, Washington County, Kansas   7 December 2022    18516.94
2          United States, Cheshire, Connecticut  11 February 2022       62.98
3             Ventanilla District, Callao, Peru   15 January 2022     1626.39
4  United States, St. Bernard Parish, Louisiana  27 December 2021      944.11

   Max Tonnes                       Owner        Country
0      881.00  RDC Reield Marine Services    Philippines
1    18516.94                   TC Energy  United States
2       62.98      Libretti and Sons Fuel  United States
3     1861.68                      Repsol           Peru
4      944.11                  PBF Energy  United States

‚≠ï Verificamos la cantidad de filas y columnas que contiene el Dataset

In [16]:
# Obtener el n√∫mero de filas y columnas
num_filas, num_columnas = df.shape

# Mostrar el resultado
print(f"El DataFrame tiene {num_filas} filas y {num_columnas} columnas.")

El DataFrame tiene 34 filas y 7 columnas.

‚≠ï Se identifican los valores NaN (valores faltantes)

In [12]:
# Identificar valores NaN en el dataframe
nan_analysis = df.isna().sum()

# Calcular el porcentaje de valores NaN por columna
nan_percentage = (nan_analysis / len(df)) * 100
print('---Identificacion de Valores NaN-->')
print(nan_analysis)
print('---Porcentajes de NaN por columna-->')
print(nan_percentage)

---Identificacion de Valores NaN-->
Spill / Vessel    0
Location          0
Dates             0
Min Tonnes        8
Max Tonnes        8
Owner             4
Country           0
dtype: int64
---Porcentajes de NaN por columna-->
Spill / Vessel     0.000000
Location           0.000000
Dates              0.000000
Min Tonnes        23.529412
Max Tonnes        23.529412
Owner             11.764706
Country            0.000000
dtype: float64

In [13]:
# Crear un DataFrame con el an√°lisis de NaN
nan_df = pd.DataFrame({
    'Column': nan_analysis.index,
    'Missing Values': nan_analysis.values,
    'Percentage (%)': nan_percentage.values
})

# Mostrar el DataFrame con el an√°lisis de NaN
nan_df

           Column  Missing Values  Percentage (%)
0  Spill / Vessel               0        0.000000
1        Location               0        0.000000
2           Dates               0        0.000000
3      Min Tonnes               8       23.529412
4      Max Tonnes               8       23.529412
5           Owner               4       11.764706
6         Country               0        0.000000

‚≠ï Se filtran e identifican los valores NaN por columna

In [14]:
# Filtrar las filas donde existen valores NaN en la columna "Owner"
filtered_df = df[df['Owner'].isna()]

# Mostrar el DataFrame filtrado
filtered_df

,Spill / Vessel,Location,Dates,Min Tonnes,Max Tonnes,Owner,Country
12,Tanker truck pumping out sludge from a vessel,"New Zealand, Tauranga, Bay of Plenty",30 March 2020,1.7,1.7,NaN,New Zealand
16,Tanker truck rollover,"United States, California, Santa Maria, Cuyama...",21 March 2020,14.6,19.5,NaN,United States
24,Ulysse-Virginia collision,North of Corsica (international waters),1 October 2018,NaN,NaN,NaN,International Waters (near France)
25,Port Erin diesel spill (source ),Isle of Man,23 July 2018,NaN,NaN,NaN,Isle of Man (self-governing British Crown depe...

üïµÔ∏è‚Äç‚ôÇÔ∏è ¬øComo podrian manejarse los valores NaN?

‚≠ï Eliminar Filas o Columnas con NaN

df_cleaned = df.dropna()  # Elimina todas las filas que tienen al menos un valor NaN

df_cleaned = df.dropna(subset=['Owner'])  # Elimina solo las filas donde 'Owner' tiene NaN

‚≠ï En este caso vamos a utilizar la segunda opcion para no eliminar todos los datos con NaN, vamos a seleccionar solamente los valores NaN contenidos en una columna en particular, lleva el nombre de OWNER

In [19]:
 # Elimina solo las filas donde 'Owner' tiene NaN

df_cleaned = df.dropna(subset=['Owner'])

‚≠ï Luego de la limpieza volvemos a consultar por los valores NaN de cada columna

In [21]:
# Recalcular el an√°lisis de NaN despu√©s de limpiar el DataFrame
nan_analysis_cleaned = df_cleaned.isna().sum()
nan_percentage_cleaned = (nan_analysis_cleaned / len(df_cleaned)) * 100

# Crear un nuevo DataFrame con el an√°lisis de NaN
nan_df_cleaned = pd.DataFrame({
    'Column': nan_analysis_cleaned.index,
    'Missing Values': nan_analysis_cleaned.values,
    'Percentage (%)': nan_percentage_cleaned.values
})

# Mostrar el DataFrame con el an√°lisis de NaN despu√©s de limpiar
nan_df_cleaned

           Column  Missing Values  Percentage (%)
0  Spill / Vessel               0             0.0
1        Location               0             0.0
2           Dates               0             0.0
3      Min Tonnes               6            20.0
4      Max Tonnes               6            20.0
5           Owner               0             0.0
6         Country               0             0.0

üïµÔ∏è‚Äç‚ôÇÔ∏è Como se puede observar en la limpieza anterior, al eliminar las finas que contenian NaN en la columna OWNER tambien se reducen los NaN de las columnas 'Min Tonnes' y 'Max Tonnes' esto puede estar relacionado a que las filas eliminadas tenian alguna relacion con las estas columnas afectadas, por esta razon es miy importante analizar bien antes de eliminar datos.

‚≠ï Otra de las opciones uqe tenemos al eliminar NaN es, eliminar la columna completa, siempre y cuando no contega datos relevantes:

df_cleaned = df.drop(columns=['Max Tonnes'])  # Elimina la columna 'Max Tonnes'

‚≠ï Otra opcion que podemos ver a continuacion es Rellenar los Valores NaN con otros valores, pueden ser con numeros 0 o String.

In [24]:
# Rellenar con 0
df['Min Tonnes'].fillna(0, inplace=True)  # Rellenar con 0

C:\Users\herna\AppData\Local\Temp\ipykernel_17232\2680936582.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Min Tonnes'].fillna(0, inplace=True)  # Rellenar con 0

‚≠ï Ahora vamos a verificar si quedan valores NaN en el Dataframe

In [25]:
nan_analysis_after_modification = df.isna().sum()
print(nan_analysis_after_modification)

Spill / Vessel    0
Location          0
Dates             0
Min Tonnes        0
Max Tonnes        8
Owner             0
Country           0
dtype: int64

‚≠ï Vamos a cambiar los valores NaN de la columna 'Max Tonnes? por 'Unknown'

In [26]:
df['Max Tonnes'].fillna('Unknown', inplace=True)  # Rellenar con 'Unknown'

C:\Users\herna\AppData\Local\Temp\ipykernel_17232\1092305605.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Max Tonnes'].fillna('Unknown', inplace=True)  # Rellenar con 'Unknown'
C:\Users\herna\AppData\Local\Temp\ipykernel_17232\1092305605.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['Max Tonnes'].fillna('Unknown', inplace=True)  # Rellenar con 'Unknown'

‚≠ï Volvemos a consultar como quedo el Dataframe

In [27]:
nan_analysis_after_modification = df.isna().sum()
print(nan_analysis_after_modification)

Spill / Vessel    0
Location          0
Dates             0
Min Tonnes        0
Max Tonnes        0
Owner             0
Country           0
dtype: int64

üïµÔ∏è‚Äç‚ôÇÔ∏è Otras tecnicas para manejar los NaN son:

‚≠ï Rellenar con el promedio, mediana o moda:

df['Min Tonnes'].fillna(df['Min Tonnes'].mean(), inplace=True)  # Rellenar con el promedio

df['Min Tonnes'].fillna(df['Min Tonnes'].median(), inplace=True)  # Rellenar con la mediana

‚≠ï Interpolaci√≥n lineal: Especialmente √∫til en series temporales, donde puedes estimar los valores faltantes usando la interpolaci√≥n.

df['Min Tonnes'] = df['Min Tonnes'].interpolate(method='linear')

‚≠ï Mantener los NaN
Si los NaN tienen un significado particular, puedes mantenerlos y considerarlos en tu an√°lisis. Por ejemplo, en algunos casos, un valor faltante podr√≠a indicar la ausencia de un evento o la falta de informaci√≥n disponible.

‚≠ï Crear una Columna Indicadora: Si decides rellenar los valores NaN, puedes crear una columna adicional que indique si un valor era originalmente NaN. Esto puede ser √∫til para an√°lisis posteriores.

df['Owner_missing'] = df['Owner'].isna().astype(int)
df['Owner'].fillna('Unknown', inplace=True)

Rellenar NaN en columnas num√©ricas con el promedio

df['Min Tonnes'].fillna(df['Min Tonnes'].mean(), inplace=True)
df['Max Tonnes'].fillna(df['Max Tonnes'].mean(), inplace=True)

Rellenar NaN en la columna "Owner" con "Unknown"

df['Owner'].fillna('Unknown', inplace=True)

‚≠ï Ahora descargamos el Dataset limpio

In [28]:
# Descarga como archivo Excel
df.to_excel('Dataset_Limpio.xlsx', index=False)

In [29]:
#Descarga como archivo CSV
df.to_csv('Dataset_Limpio.csv', index=False)

üïµÔ∏è‚Äç‚ôÇÔ∏è Analisis Exploratorio

‚≠ï A continuacion vamos se analiza si el formato de la columna 'Dates' es correcta, es decir si se encuentra en formato de fecha y hora.

In [30]:
# Verificar el cambio mostrando los primeros registros
print(df['Dates'].head())

0    28 February 2023
1     7 December 2022
2    11 February 2022
3     15 January 2022
4    27 December 2021
Name: Dates, dtype: object

‚≠ï Segun lo observado, la columna tiene un formato de tipo 'Object' el cual no es el adecuado, por lo tanto vamos a proceder a cambiar dicha configuracion.

In [31]:
# Convertir la columna 'Dates' a formato de fecha
df['Dates'] = pd.to_datetime(df['Dates'])

# Verificar el cambio mostrando los primeros registros
print(df['Dates'].head())

0   2023-02-28
1   2022-12-07
2   2022-02-11
3   2022-01-15
4   2021-12-27
Name: Dates, dtype: datetime64[ns]

‚≠ï A continuacion se utiliza el metodo 'resample' sirve para agrupar datos basados en frecuencia de tiempo para luego aplicar alguna operacion como 'mean' 'sum' etc. La sintaxis es df.resample(rule, on='column_name').operation()

Otras opciones de rule:

'D': D√≠a.

'W': Semana.

'Q': Trimestre.

'A': A√±o.

'H': Hora.

'T' o 'min': Minuto.